<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Add Item</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>
  <body>
    <main class="container">
      <header>
        <h1>Item 저장</h1>
        <a class="btn" th:href="@{/items}">뒤로</a>
      </header>

      <form th:action="@{/items}" method="post">
        <div class="form-row">
          <label>이름</label>
          <input type="text" name="name" required />
        </div>
        <div class="form-row">
          <label>가격</label>
          <input type="number" name="price" min="0" step="1" required />
        </div>
        <div class="form-row">
          <label>수량</label>
          <input type="number" name="quantity" min="0" step="1" required />
        </div>
        <button class="btn" type="submit">저장</button>
      </form>
    </main>
  </body>
</html>
