<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title th:text="${item.name}">Item</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>
  <body>
    <main class="container">
      <header>
        <h1 th:text="${item.name}">이름</h1>
        <a class="btn" th:href="@{/items}">뒤로</a>
        <a class="btn btn-outline" th:href="@{/items/edit/{id}(id=${item.id})}"
          >수정</a
        >
        <form
          th:action="@{/items/delete/{id}(id=${item.id})}"
          method="post"
          style="display: inline"
        >
          <button class="btn btn-danger" type="submit">삭제</button>
        </form>
      </header>

      <ul class="detail">
        <li><b>아이디</b>: <span th:text="${item.id}">1</span></li>
        <li><b>가격</b>: <span th:text="${item.price}">0</span></li>
        <li><b>수량</b>: <span th:text="${item.quantity}">0</span></li>
      </ul>
    </main>
  </body>
</html>
